extends ../layout

block head
    link(rel="stylesheet", href="/css/daterangepicker.css")
    script(src="/js/moment.min.js")
    script(src="/js/daterangepicker.min.js")
    title #{title}

block content
    form(method='POST', action='/missions/add')
        .card
            .card-header
                h4 #{title}
            .card-body
                .card
                    .card-header
                        h5 Missionnaire
                    .card-body
                        .row
                            .col
                                .input-group
                                    .input-group-prepend
                                        .input-group-text
                                            .fas.fa-user-circle
                                    input.form-control(name='username', type='text', placeholder='Nom d\'utilisateur', required readonly)
                            .col
                                .input-group
                                    .input-group-prepend
                                        .input-group-text
                                            .fas.fa-user-circle
                                    input.form-control(name='username', type='text', placeholder='Nom d\'utilisateur', required)

                .card.my-3
                    .card-header
                        h5 Dates demandées
                    .card-body
                            

            .card-footer.text-center
                button.btn.btn-primary.mr-2(type='submit') Se connecter
                button.btn.btn-danger(type='button', onclick="window.location.href='/users/register';") S'inscrire