extends ../layout

block head
    title #{title}

block content
    form
        .custom-file
            input(type="file" class="custom-file-input" id="customFile")
            label(class="custom-file-label" for="customFile") Choose file